.headerWrapper {
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 1200px;
	justify-content: center;
}

.headerWrapper h1 {
	font-family: Open Sans;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: 0em;
	text-align: left;
}