@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	box-sizing: border-box;
}

.sidebar {
	background: #F3F4F9;
	position: fixed;
	width: 260px;
	height: 100%;
	border-right: 4px solid #E0E5EA;
	left: -260px;
	transition: all 600ms;
	z-index: 1;

}

.sidebar.active {
	left: 0px;
}

.sidebar .toggleBtn {
	position: absolute;
	left: 270px;
	top: 40px;
	background: #E0E5EA;
	padding: 10px;
	border-radius: 12px;
	cursor: pointer;
}

.sidebar .toggleBtn span {
	display: block;
	width: 25px;
	height: 4px;
	background-color: #666;
	margin: 4px 0;	
}

.sidebar .toggleBtn:hover {
	background-color: #556270;
}

.sidebar .toggleBtn:hover span {
	background-color: #fafafa;
}

.sidebarItem {
	height: 64px;
	width: 260px;
	display: flex;
	align-items: center;
	margin-left: 41px;
}

.sidebarItem a {
	text-decoration: none;
	color: #333333;
	margin-left: 14px;
}

.sidebarItem:hover a {
	color: #34ABE0;
}


.sidebarHeaderWrapper {
	margin: 41px 78px 41px 41px;
	display: flex;
	align-items: center;
}

.sidebarHeaderText {
	margin-left: 10px;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}